body { 
	font-size: 1em;
	line-height: 1.6em;
	font-family: "HelveticaNeue-Light","Helvetica Neue",arial,helvetica,verdana,sans-serif;
	color: #444;
}

article {
	max-width: 52em;
	width: 80%;
	margin: auto;
	padding: 1em 2em 2em 2em;
	text-align: left;
	-moz-box-shadow: 2px 3px 6px #818181;
	-webkit-box-shadow: 2px 3px 6px #818181;
	box-shadow: 2px 3px 6px #818181;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	
}

header {
	color: #3b5672;  
	font-size: 2.2em;
	line-height: 2.5em;
	font-weight: 900;
	text-shadow: 1px 2px 2px #abc, -1px -1px 1px #cccccc;  
	font-family: Georgia, serif;
	text-align: center;
}

	
h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.6em;
	text-align: center;
}

h2 {
	font-size: 1.4em;
	margin-top: 2em;
	padding-top: 1em;
	border-top: 2px solid #abc;
	
}

h3 {
	font-size: 1.1em;
	margin-top: 2em;
}

pre {
	padding: 1rem;
	border: 1px dashed #abc;
	background-color: #f9f9f9;
	font-family: monospace, Courier;
}

code {
	font-family: monospace, Courier;
	border: 1px dashed #abc;
	background-color: #f9f9f9;
	padding: 0.1rem;
}

img {
	border: 1px solid #abc;
}
